@charset "utf-8";
/* 내부 로컬 폰트 파일로 연결 */
@font-face {
    font-family: "FreightNeo";
    src: url(./fonts/FreightNeo-W03-Medium.ttf);
}
@font-face {
    font-family: "NotoSansKR";
    src: url(./fonts/NotoSansKR-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "FreightNeo","NotoSansKR";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(206,205,198);
}
section{
    width: 800px;

}
img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;

}
/* 헤딩영역 */
.heading h1{
    font-size: 30px;
    text-align: center;
    color: rgb(146, 145, 141);
}
.heading input[type="text"]{
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #fff url(./img/search-icon.png) no-repeat center left 5px;
    background-size: 23px;
    padding-left: 35px;

}
.heading input::placeholder{
    font-style: italic;
    transition: 0.3s;
}
.heading input:focus::placeholder{
    opacity: 0;
}
/* 탭영역 */
.tab-inner{
    margin-top: 30px;
}
.btn{
    list-style: none;
    overflow: hidden;
    margin-left: 10px;
}
.btn li{
    float: left;
    width: 120px;
    cursor: pointer;
    background-color: #eee;
    padding: 5px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    text-align: center;
    border-top: 2px solid transparent;
}
.btn li:last-child{
    border-right: none;
}
.btn li:hover,
.btn li.active{
    background-color: #fff;
    border-top: 2px solid rgb(77, 76 ,73);
}

/* 전체 div스타일 지정하고 첫번째 텝메뉴만 보여주기 */
.tabs div{
    display: none;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;

}
.tabs div h2{
    margin-bottom: 10px;
    color: rgb(77, 76 ,73);
    font-size: 18px;
}
.tabs div.active{
    display: block;
}

.tabs div img{
    float: left;
    margin-right: 10px;
}